<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="css/cart.css">
  <link href="/css/header.css" rel="stylesheet" />
</head>
<body>
<div th:insert="~{header :: header}"></div>

<h2>장바구니</h2>
<section>
  <table>
    <thead>
    <tr>
      <th>제품 명</th>
      <th>수량</th>
      <th>가격</th>
      <th>전체 가격</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <!-- 장바구니에 담긴 각 제품을 반복하여 보여줌 -->
    <tr th:each="cartItem : ${cartList}">
      <!-- Item의 이름, 수량, 가격 정보 출력 -->
      <td th:text="${cartItem.item.item_name}">Product Name</td>
      <td><input type="number" th:value="${cartItem.cnt}"></td>
      <td th:text="${cartItem.item.sale_price}">0</td>
      <td>0</td> <!-- 전체 가격은 자바스크립트로 계산해서 채워질 예정 -->
      <form action="/cart/remove" method="post">
        <input type="hidden" name="cart_key" th:value="${cartItem.cart_key}" />
        <td><button type="submit">Remove</button></td>
      </form>
    </tr>
    </tbody>
  </table>

  <div class="cart-summary">
    <p>총 수량: <span>0</span></p>
    <p>총 가격: <span>0</span></p>
    <button type="button">구매하기</button>
  </div>
</section>
<script src="js/header.js"></script>
<script src="js/cart.js"></script>
</body>
</html>
