<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>헤더</title>
</head>
<body>
<header class="header">
  <h1>My 쇼핑몰</h1>
  <nav class="nav">
    <!-- 사용자 -->
    <div class="user-section" th:if="${isAdmin != null and !isAdmin}">
      <a href="/main">홈</a>
      <a href="/item">상품</a>
      <a href="/question">문의하기</a>
      <span class="auth-section" th:if="${session.email}">
        <a onclick="logout()">로그아웃</a>
        <a href="/cart">장바구니</a>
        <a href="/myPage">마이페이지</a>
      </span>
      <span class="auth-section" th:if="${session.email == null}">
        <a href="/login">로그인</a>
      </span>
    </div>

    <!-- 관리자 -->
    <div class="admin-section" th:if="${isAdmin != null and isAdmin}">
      <a href="/main">홈</a>
      <a href="/question">문의사항</a>
      <a href="/admin">관리자 페이지</a>
      <span class="auth-section" th:if="${session.email}">
        <a onclick="logout()">로그아웃</a>
      </span>
      <span class="auth-section" th:if="${session.email == null}">
        <a href="/login">로그인</a>
      </span>
    </div>
  </nav>
</header>
</body>
</html>