<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="login-container">
  <h1>로그인</h1>
  <form id="login-form" onsubmit="return validateForm()" action="loginPro" method="post">
    <label for="email">이메일</label>
    <input type="email" id="email" name="email" required placeholder="이메일을 입력하세요">

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" required placeholder="비밀번호를 입력하세요">

    <button type="submit">로그인</button>
  </form>
  <p id="error-message" class="error hidden">이메일과 비밀번호를 입력하세요.</p>

  <!-- 회원가입 버튼 추가 -->
  <div class="signup-link">
    <p>아직 회원이 아니신가요?</p>
    <a href="register">회원가입</a>
  </div>
</div>
<script src="js/login.js"></script>
</body>
</html>
